<%= flash[:notice] %> <br>

<a href="/bookmarks/new"> Add Bookmark  </a><br>

<% @bookmarks.each do |bookmark| %>
<a href="<%= bookmark.url %>"> <%=bookmark.title%></a> <br> 
<form action="bookmarks/<%=bookmark.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>
<form action="bookmarks/edit/<%=bookmark.id%>" method="get">
<input type="submit" value="Update">
</form>
<form action="bookmarks/comments/<%=bookmark.id%>" method="get">
<input type="submit" value="Add Comment">
</form>
<ul>
<% bookmark.comments.each do |comment|%>
  <li> <%=comment.text%> </li>
  <% end %>
</ul>
<% end %>

